<%- include('header'); -%>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Oops!</span> It looks like the ID you entered is in use already.</p>
        <p class="lead">
            If you are looking to change your sign up, head over to edit and delete your signup first. Otherwise, try a different ID.
          </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>
<%- include('footer'); -%>
