<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="bottom:0; width:100%;">
    <div class="col-md-4 d-flex align-items-center" style="margin-left:50px">
      <span class="mb-3 mb-md-0 text-muted">Developed for Texas Epic</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" style="margin-right:50px">
      <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/groups/texasepic" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/texasepic/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </footer>
</html>
