<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EPIC Church Rides</title>
  <script src="https://kit.fontawesome.com/1dbc3bb054.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/form.css">
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;">
    <div class="container-fluid">

      <a class="navbar-brand" href="https://www.facebook.com/groups/153959541311380" target="_blank"><img src="https://cdn1-www.cru.org/epicmovement/wp-content/uploads/sites/39/2018/03/cropped-Artboard-1-1.png.pagespeed.ce.nOrh8-GSlT.png" width="75" height="45" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="view">View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="edit">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="error">Drivers</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sign Up
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="driver">Sign Up as Driver</a></li>
              <li><a class="dropdown-item" href="rider">Sign Up as Rider</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>

<body>
