<%- include('header'); -%>
<h2 class="title-page">Epic Church Ride Signup</h2>
<div class="home-description">

</div>

<div class="home-body">

</div>
<h6>Simple website that replaces the Excel sheet used by UT Epic for church rides. Not affiliated with official Epic Movement.</h6>
<h2>Sign Up as Rider</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus a pellentesque sit amet. Augue interdum velit euismod in pellentesque. At tellus at urna condimentum mattis pellentesque id nibh. Arcu cursus vitae congue mauris rhoncus aenean vel. Sed vulputate mi sit amet mauris. Pharetra diam sit amet nisl. Suspendisse faucibus interdum posuere lorem ipsum dolor. Enim ut sem viverra aliquet eget sit amet tellus cras. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Rhoncus est pellentesque elit ullamcorper dignissim. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Est ante in nibh mauris cursus. Nisl vel pretium lectus quam id leo in vitae.
</p>
<h2>Sign Up as Driver</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus a pellentesque sit amet. Augue interdum velit euismod in pellentesque. At tellus at urna condimentum mattis pellentesque id nibh. Arcu cursus vitae congue mauris rhoncus aenean vel. Sed vulputate mi sit amet mauris. Pharetra diam sit amet nisl. Suspendisse faucibus interdum posuere lorem ipsum dolor. Enim ut sem viverra aliquet eget sit amet tellus cras. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Rhoncus est pellentesque elit ullamcorper dignissim. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Est ante in nibh mauris cursus. Nisl vel pretium lectus quam id leo in vitae.
</p>
<%- include('footer'); -%>
